{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger Petstore - OpenAPI 3.0",
    "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [https://swagger.io](https://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3dzdzd.\n_If you're looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://petstore.swagger.io/v2/swagger.yaml). Alternatively, you can load via the `Edit > Load Petstore OAS 2.0` menu option!_\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "hello@visum.run"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.11"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.reversecontact.com/enrichment/"
    }
  ],
  "tags": [
    {
      "name": "company",
      "description": "Get LinkedIn Company"
    },
    {
      "name": "profile",
      "description": "Get LinkedIn Profile"
    }
  ],
  "paths": {
    "/company/url/{linkedInUrl}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Finds Company by LinkedIn URL",
        "description": "Your can provide a linkedIn Url containing a LinkedIn ID or LinkedIn Slug, both are working.",
        "parameters": [
          {
            "name": "linkedInUrl",
            "in": "path",
            "description": "linkedIn Url of company to get",
            "required": true,
            "example": "https://www.linkedin.com/in/iliesgraffion-visum-find-stacks-of-anyone/",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient account balance"
          },
          "404": {
            "description": "Page not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/company/id/{linkedInIdentifier}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Finds Company by LinkedIn Identifier",
        "description": "Your can provide a linkedIn Identifier.",
        "parameters": [
          {
            "name": "linkedInIdentifier",
            "in": "path",
            "description": "linkedIn Identifier of company to get",
            "required": true,
            "example": "71234370",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient account balance"
          },
          "404": {
            "description": "Page not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/company/slug/{linkedInSlug}": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Finds Company by linkedIn Slug",
        "description": "Your can provide a linkedIn Slug.",
        "parameters": [
          {
            "name": "linkedInSlug",
            "in": "path",
            "description": "linkedIn Slug of company to get",
            "required": true,
            "example": "visum-run",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient account balance"
          },
          "404": {
            "description": "Page not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "ScrapIn"
          },
          "linkedInSlug": {
            "type": "string",
            "example": "visum-run"
          },
          "linkedInIdentifier": {
            "type": "string",
            "example": "71234370"
          },
          "linkedInUrl": {
            "type": "string",
            "example": "https://www.linkedin.com/company/visum-run/"
          },
          "websiteUrl": {
            "type": "string",
            "example": "https://scrapin.io"
          },
          "logo": {
            "type": "string",
            "example": "https://media.licdn.com/dms/image/C4E0BAQEbr48diDvnrw/company-logo_200_200/0/1674558571229/visum_run_logo?e=1710374400&v=beta&t=NAC_K63Wqd1ZUajFxitvaWi5KsVor-N1NkM8nr2sD4I"
          },
          "industry": {
            "type": "string",
            "example": "Software Development"
          },
          "description": {
            "type": "string",
            "example": "We specialize in hunting down all types of data for your business - with over 5 years of experience and already 3 enrichment tools created, we're dedicated to providing you with the most comprehensive and up-to-date data possible, no matter how complex or difficult it may be to get it."
          },
          "specialities": {
            "example": [
              "Lead Generation",
              "Lead Qualification",
              "Market Search",
              "Competitor analysis",
              "CRM enrichment"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeCount": {
            "description": "Number of Employees",
            "type": "integer",
            "example": 8
          },
          "contractType": {
            "description": "Experience Contract Type",
            "example": "Full-time",
            "type": "string",
            "enum": [
              "Self-employed",
              "Permanent",
              "Full-time",
              "Freelance"
            ]
          },
          "tagline": {
            "type": "string",
            "example": "Data Hunter for companies"
          },
          "headquarter": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string",
                "example": "FR"
              },
              "geographicArea": {
                "type": "string",
                "example": "Île-de-France"
              },
              "city": {
                "type": "string",
                "example": "Paris"
              },
              "postalCode": {
                "type": "string",
                "example": "75013"
              }
            }
          },
          "foundedOn": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer",
                "example": 2020
              },
              "month": {
                "type": "integer",
                "example": 4
              }
            }
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "xml": {
          "name": "##default"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "query"
      }
    }
  }
}